In [1]:
import pandas as pd
import yfinance as yf

In [3]:
# Load SPY data from Yahoo Finance
spy_data = pd.read_csv("../data/raw/yahoo/SPY_2025-09-07.csv")

In [4]:
spy_data

,Date,Close,High,Low,Open,Volume
0,NaN,SPY,SPY,SPY,SPY,SPY
1,2024-09-06,533.7124633789062,544.814178974002,532.8037981213807,543.1746268603601,68493800
2,2024-09-09,539.6881103515625,540.9721661519678,536.004015606287,537.9498122762251,40445800
3,2024-09-10,542.038818359375,542.3944354912933,536.6953981658095,541.6141154106779,36394600
4,2024-09-11,547.599609375,548.5280480777749,533.3175322402805,541.9500047084682,75248600
...,...,...,...,...,...,...
246,2025-08-29,645.0499877929688,647.8400268554688,643.1400146484375,647.469970703125,74522200
247,2025-09-02,640.27001953125,640.489990234375,634.9199829101562,637.5,81983500
248,2025-09-03,643.739990234375,644.2100219726562,640.4600219726562,642.6699829101562,70820900
249,2025-09-04,649.1199951171875,649.1500244140625,643.510009765625,644.4199829101562,65219200
250,2025-09-05,647.239990234375,652.2100219726562,643.3300170898438,651.47998046875,84970600

In order to have some value, technical indicators are also required alongside the standard OHLCV data, which will be useful for later machine learning activities.